<div *ngIf="isSpinnerShow" style="padding: 100px 0px 15px 0px; text-align: center;">
    <h4>Please wait...</h4>
    <mat-spinner style="margin:auto;display:block;"></mat-spinner>
</div>
<div *ngIf="isContentShow">
    <mat-toolbar>
        &nbsp;&nbsp;
        <img src="../../../../assets/images/software-icons/collection.png" class="toolBar-img-style" />
        <span class="toolbar-title-style">
            Collection Detail
        </span>
        <span class="toolbar-spacer"></span>
        <button mat-flat-button color="primary" [disabled]="isCollectionSaveButtonDisabled" style="margin-right: 5px;"
            (click)="buttonSaveCollection()">
            Save
        </button>
        <button mat-flat-button color="primary" [disabled]="isCollectionLockButtonDisabled" style="margin-right: 5px;"
            (click)="buttonLockCollection()">
            Lock
        </button>
        <button mat-flat-button color="primary" [disabled]="isCollectionUnlockButtonDisabled" style="margin-right: 5px;"
            (click)="buttonUnlockCollection()">
            Unlock
        </button>
        <button mat-flat-button color="warn" routerLink="/software/activity-collection-list">
            Close
        </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="software-container">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="50" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Collection Number</mat-label>
                            <input matInput [(ngModel)]="trnCollectionModel.CollectionNumber"
                                [ngModelOptions]="{standalone: true}" disabled>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Collection Date</mat-label>
                            <input matInput [matDatepicker]="CollectionDatePicker" [(ngModel)]="collectionDate"
                                [ngModelOptions]="{standalone: true}" [disabled]="trnCollectionModel.IsLocked"
                                (dateChange)="collectionDateDateChange('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="CollectionDatePicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #CollectionDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Manual OR Number</mat-label>
                            <input matInput [(ngModel)]="trnCollectionModel.ManualNumber"
                                [ngModelOptions]="{standalone: true}" [disabled]="trnCollectionModel.IsLocked">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Customer</mat-label>
                            <mat-select [(value)]="trnCollectionModel.CustomerId"
                                [disabled]="trnCollectionModel.IsLocked">
                                <mat-option *ngFor="let mstCustomerObject of mstCustomerModel"
                                    [value]="mstCustomerObject.Id">
                                    {{mstCustomerObject.FullName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Particulars</mat-label>
                            <textarea matInput [(ngModel)]="trnCollectionModel.Particulars"
                                [ngModelOptions]="{standalone: true}" style="min-height: 73px;"
                                [disabled]="trnCollectionModel.IsLocked"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxFlex="50">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Prepared By</mat-label>
                            <mat-select [(value)]="trnCollectionModel.PreparedBy" disabled>
                                <mat-option *ngFor="let mstUserModelObject of mstUserModel"
                                    [value]="mstUserModelObject.Id">
                                    {{mstUserModelObject.FullName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Checked By</mat-label>
                            <mat-select [(value)]="trnCollectionModel.CheckedBy"
                                [disabled]="trnCollectionModel.IsLocked">
                                <mat-option *ngFor="let mstUserModelObject of mstUserModel"
                                    [value]="mstUserModelObject.Id">
                                    {{mstUserModelObject.FullName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Approved By</mat-label>
                            <mat-select [(value)]="trnCollectionModel.ApprovedBy"
                                [disabled]="trnCollectionModel.IsLocked">
                                <mat-option *ngFor="let mstUserModelObject of mstUserModel"
                                    [value]="mstUserModelObject.Id">
                                    {{mstUserModelObject.FullName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Payments">
            <div class="software-container">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 3px; text-align: right;">
                        <button mat-flat-button color="primary" [disabled]="trnCollectionModel.IsLocked"
                            (click)="buttonAddCollectionPayment()">
                            Add
                        </button>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="collectionPaymentFilter($event)" placeholder="Filter"
                                #collectionPaymentFilterData />
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-table [dataSource]="collectionPaymentDataSource" #collectionPaymentSort="matSort" matSort
                            style="overflow-x: scroll;">

                            <ng-container matColumnDef="ButtonEdit">
                                <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header></mat-header-cell>
                                <mat-cell fxFlex="100px" *matCellDef="let row">
                                    <button mat-flat-button color="primary" (click)="buttonEditCollectionPayment(row)"
                                        [disabled]="trnCollectionModel.IsLocked">
                                        Edit
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="ButtonDelete">
                                <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header></mat-header-cell>
                                <mat-cell fxFlex="100px" *matCellDef="let row">
                                    <button mat-flat-button color="warn" (click)="buttonDeleteCollectionPayment(row)"
                                        [disabled]="trnCollectionModel.IsLocked">
                                        Delete
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="SoldUnit">
                                <mat-header-cell fxFlex="120px" *matHeaderCellDef mat-sort-header> Sold Unit No.
                                </mat-header-cell>
                                <mat-cell fxFlex="120px" *matCellDef="let row"> {{row.SoldUnit}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Project">
                                <mat-header-cell fxFlex="250px" *matHeaderCellDef mat-sort-header> Project
                                </mat-header-cell>
                                <mat-cell fxFlex="250px" *matCellDef="let row"> {{row.Project}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="PayType">
                                <mat-header-cell fxFlex="150px" *matHeaderCellDef mat-sort-header> Pay Type
                                </mat-header-cell>
                                <mat-cell fxFlex="150px" *matCellDef="let row"> {{row.PayType}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Amount">
                                <mat-header-cell fxFlex="150px" *matHeaderCellDef mat-sort-header> Amount
                                </mat-header-cell>
                                <mat-cell fxFlex="150px" *matCellDef="let row">
                                    <div style="width: 100%; text-align: right; padding-right: 10px;">
                                        {{decimalPipe.transform(row.Amount, "1.2-2")}}
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Agent">
                                <mat-header-cell fxFlex="150px" *matHeaderCellDef mat-sort-header> Agent
                                </mat-header-cell>
                                <mat-cell fxFlex="150px" *matCellDef="let row"> {{row.Agent}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Broker">
                                <mat-header-cell fxFlex="150px" *matHeaderCellDef mat-sort-header> Broker
                                </mat-header-cell>
                                <mat-cell fxFlex="150px" *matCellDef="let row"> {{row.Broker}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Space">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="collectionPaymentDisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: collectionPaymentDisplayedColumns;"></mat-row>

                            <!-- <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="6">No data matching the filter
                                                "{{collectionPaymentFilterData.value}}"</td>
                                        </tr> -->
                        </mat-table>

                        <mat-paginator #collectionPaymentPaginator [pageSizeOptions]="[10, 50, 100, 200]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>