<h1 mat-dialog-title>
    {{ dialogTitle }}
</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div *ngIf="isSpinnerShow" style="padding: 25px 0px 25px 0px; text-align: center;">
        <h4>Please wait...</h4>
        <mat-spinner style="margin:auto;display:block;"></mat-spinner>
    </div>
    <div *ngIf="isContentShow">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Detail">
                <div class="software-container">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50">
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>No.</mat-label>
                                        <input matInput [(ngModel)]="trnSoldUnitRequirementModel.ChecklistRequirementNo"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Requirement</mat-label>
                                        <input matInput [(ngModel)]="trnSoldUnitRequirementModel.ChecklistRequirement"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Category</mat-label>
                                        <input matInput [(ngModel)]="trnSoldUnitRequirementModel.ChecklistCategory"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 3px;">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Status</mat-label>
                                        <mat-select [(value)]="trnSoldUnitRequirementModel.Status">
                                            <mat-option *ngFor="let sysDropdownObject of sysDropdownModel"
                                                [value]="sysDropdownObject.Value">
                                                {{sysDropdownObject.Description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput [(ngModel)]="trnSoldUnitRequirementModel.Remarks"
                                            [ngModelOptions]="{standalone: true}" style="min-height: 203px;"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Attachments">
                <div class="software-container">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50">
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 5px;">
                                        <mat-label>Attachment 1 (URL)</mat-label>
                                        <input matInput [(ngModel)]="trnSoldUnitRequirementModel.Attachment1"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>
                                    <input readonly #inputFileAttachment1 type="file" [disabled]="isUploadDisabled"
                                        style="border: 1px solid #dadada; padding: 5px; margin-bottom: 10px; margin-right: 5px;" />
                                    <button mat-stroked-button color="" (click)="buttonUploadAttachment1()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Upload
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonClearAttachment1()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Clear
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonViewAttachment1()"
                                        [disabled]="isUploadDisabled">
                                        View
                                    </button>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 5px;">
                                        <mat-label>Attachment 2 (URL)</mat-label>
                                        <input matInput [(ngModel)]="trnSoldUnitRequirementModel.Attachment2"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>
                                    <input readonly #inputFileAttachment2 type="file" [disabled]="isUploadDisabled"
                                        style="border: 1px solid #dadada; padding: 5px; margin-bottom: 10px; margin-right: 5px;" />
                                    <button mat-stroked-button color="" (click)="buttonUploadAttachment2()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Upload
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonClearAttachment2()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Clear
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonViewAttachment2()"
                                        [disabled]="isUploadDisabled">
                                        View
                                    </button>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 5px;">
                                        <mat-label>Attachment 3 (URL)</mat-label>
                                        <input matInput [(ngModel)]="trnSoldUnitRequirementModel.Attachment3"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>
                                    <input readonly #inputFileAttachment3 type="file" [disabled]="isUploadDisabled"
                                        style="border: 1px solid #dadada; padding: 5px; margin-bottom: 10px; margin-right: 5px;" />
                                    <button mat-stroked-button color="" (click)="buttonUploadAttachment3()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Upload
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonClearAttachment3()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Clear
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonViewAttachment3()"
                                        [disabled]="isUploadDisabled">
                                        View
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 5px;">
                                        <mat-label>Attachment 4 (URL)</mat-label>
                                        <input matInput [(ngModel)]="trnSoldUnitRequirementModel.Attachment4"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>
                                    <input readonly #inputFileAttachment4 type="file" [disabled]="isUploadDisabled"
                                        style="border: 1px solid #dadada; padding: 5px; margin-bottom: 10px; margin-right: 5px;" />
                                    <button mat-stroked-button color="" (click)="buttonUploadAttachment4()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Upload
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonClearAttachment4()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Clear
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonViewAttachment4()"
                                        [disabled]="isUploadDisabled">
                                        View
                                    </button>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100" style="padding: 5px;">
                                    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 5px;">
                                        <mat-label>Attachment 5 (URL)</mat-label>
                                        <input matInput [(ngModel)]="trnSoldUnitRequirementModel.Attachment5"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>
                                    <input readonly #inputFileAttachment5 type="file" [disabled]="isUploadDisabled"
                                        style="border: 1px solid #dadada; padding: 5px; margin-bottom: 10px; margin-right: 5px;" />
                                    <button mat-stroked-button color="" (click)="buttonUploadAttachment5()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Upload
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonClearAttachment5()"
                                        [disabled]="isUploadDisabled" style="margin-right: 5px;">
                                        Clear
                                    </button>
                                    <button mat-stroked-button color="" (click)="buttonViewAttachment5()"
                                        [disabled]="isUploadDisabled">
                                        View
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Activities">

            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="buttonSaveClick()" [disabled]="isButtonSaveConfirmationDisabled">
        Save
    </button>
    <button mat-flat-button color="warn" (click)="buttonCloseClick()" [disabled]="isButtonSaveConfirmationDisabled">
        Close
    </button>
</mat-dialog-actions>