<h1 mat-dialog-title>
    {{ dialogTitle }}
</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div class="software-container">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Reason for Cancel</mat-label>
                    <textarea matInput [(ngModel)]="trnSoldUnitModel.Remarks" [ngModelOptions]="{standalone: true}"
                        style="min-height: 73px;"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="buttonOKClick()" [disabled]="isButtonOKConfirmationDisabled">
        OK
    </button>
    <button mat-flat-button color="warn" (click)="buttonCloseClick()" [disabled]="isButtonOKConfirmationDisabled">
        Close
    </button>
</mat-dialog-actions>