<h1 mat-dialog-title>
    {{ dialogCancelTitle }}
</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
    <br />
    {{ dialogCancelMessage }}
    <br /><br />
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-flat-button color="warn" (click)="buttonCancelClick()" [disabled]="isButtonCancelConfirmationDisabled">
        Cancel
    </button>
    <button mat-stroked-button (click)="buttonCloseClick()" [disabled]="isButtonCancelConfirmationDisabled">
        Close
    </button>
</mat-dialog-actions>