<mat-toolbar>
    &nbsp;&nbsp;
    <img src="../../../../assets/images/software-icons/dashboard.png" class="toolBar-img-style" />
    <span class="toolbar-title-style">
        Dashboard
    </span>
</mat-toolbar>
<mat-divider></mat-divider>
<div class="software-container">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-project-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;">
                <img src="../../../../assets/images//software-icons/project.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Project
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-unit-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/unit.png" height="70" style="margin-bottom: 7px;" />
                <br />
                Unit
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-customer-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/customer.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Customer
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-broker-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/broker.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Broker
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-checklist-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;">
                <img src="../../../../assets/images//software-icons/checklist.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Checklist
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/activity-sold-unit-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/sold-unit.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Sold Unit
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/activity-collection-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/collection.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Collection
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/activity-commission-request-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/commission.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Commission
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/reports" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/report.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Reports
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/system-user-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;">
                <img src="../../../../assets/images//software-icons/user.png" height="70" style="margin-bottom: 7px;" />
                <br />
                User
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/system-settings" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/settings.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Settings
            </button>
        </div>
    </div>
</div>