<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" style="padding: 5px; text-align: center;">
                <button mat-flat-button color="primary" class="example-icon" routerLink="/security/system-login"
                    style="padding-top: 10px; padding-bottom: 10px; font-size: 20px;">
                    &nbsp;&nbsp;
                    Get Started
                    &nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</header>
<section>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="35" style="padding: 50px;">
            <br />
            <img src="../../../../assets/images/filbroker-logo/filbroker.png" width="250" />
            <br /><br />
            <h1>Manages real-eastate assets with ease using the cloud.</h1>
        </div>
        <div fxFlex="65" style="padding: 50px;">
            <img src="../../../../assets/images/landing-page/dashboard.png" style="width: 100%;" />
        </div>
    </div>
</section>
<section>
    <div style="background-color: #003366; padding-top: 50px; color: white;">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="35" style="padding: 50px;">
                <h1 style="font-size: 35px;">Contact Us!</h1>
                <br />
                <h2>
                    Ready to subscribe with us? That's great! Give us a call or send us an email and we will get
                    back to you as soon as possible!
                </h2>
                <br />
                <br />
                <h3>
                    <i class="fa fa-mobile fa-fw"></i> 0936-338-2541 (TM) / 0932-609-4459 (Sun)
                    <br />
                    <i class="fa fa-phone fa-fw"></i> (032) 263-2912 / (032) 520-7245 / (032) 415-1507
                    <br />
                    <i class="fa fa-envelope-o fa-fw" data-wow-delay=".1s"></i> info@innosoft.ph
                </h3>
                <br />
                <h3>For More Information, visit:</h3>
                <h3>
                    <a href="http://www.innosoft.ph" target="_blank">
                        <span class="label label-info">
                            www.innosoft.ph</span>
                    </a>
                </h3>
                <br />
                <br />
            </div>
            <div fxFlex="65" style="padding: 50px;">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3925.3294653199337!2d123.88335311472697!3d10.315496020352837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d10.3155472!2d123.8854789!4m5!1s0x33a99eb4d4f75c7b%3A0x91d2680e9eae4ce6!2sInnosoft+Solutions%2C+V+Rama+Ave%2C+Cebu+City%2C+6000+Cebu!3m2!1d10.3154656!2d123.88562189999999!5e0!3m2!1sen!2sph!4v1524815768895"
                    style="width: 100%; height: 450px;" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <br />
    </div>
</section>
