
header.masthead {
  position: relative;
  background-color: #202122;
  background: url("../../../../assets/images/landing-page/cover.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 18rem;
    padding-bottom: 18rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
