<h1 mat-dialog-title>
    {{ dialogTitle }}
</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div *ngIf="isSpinnerShow" style="padding: 25px 0px 25px 0px; text-align: center;">
        <h4>Please wait...</h4>
        <mat-spinner style="margin:auto;display:block;"></mat-spinner>
    </div>
    <div *ngIf="isContentShow">
        <div class="software-container">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <input type="file" (change)="onFileSelect($event.target)">
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-flat-button (click)="buttonDownloadTemplateSoldUnitEquitySchedule()"
        [disabled]="isButtonImportDisabled">
        Download Template
    </button>
    <button mat-flat-button color="primary" (click)="buttonImportClick()" [disabled]="isButtonImportDisabled">
        Import
    </button>
    <button mat-flat-button color="warn" (click)="buttonCloseClick()" [disabled]="isButtonImportDisabled">
        Close
    </button>
</mat-dialog-actions>